/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


ul#main-menu { 
	margin-top: 10px;
	padding: 0;
	height: 58px;
	display: block;
	}
	
ul#main-menu li { 
	margin-left: 10px;
	margin-right: 10px;	
	display: block; 
	float: left;
	width: 300px;
	padding: 0;}

ul#main-menu li.first {
	margin-left: 0;
	padding-left: 0; 
	}
	
ul#main-menu li.last {
	margin-right: 0;
	padding-right: 0;
	}

ul#main-menu li a {  
	display: block; 
	font-size: 22px; 
	color: #FFF; 
	text-decoration: none;
	padding: 16px 16px 16px 50px;
	background-repeat: no-repeat;
	}
 
ul#main-menu li.menu-782 a {
	background-image: url(img/portalknap-borger.png);
}

ul#main-menu li.menu-783 a {
	background-image: url(img/portalknap-erhverv.png);
}

ul#main-menu li.menu-784 a {
	background-image: url(img/portalknap-politik.png);
}

.menu-minipanels .panel-region-kol1 { width: 200px !important}
.menu-minipanels .panel-region-kol2 { width: 200px !important}
.menu-minipanels .panel-region-kol3 { width: 200px !important}
.menu-minipanels .panel-region-kol4 { width: 265px !important;}
.menu-minipanels .panel-region-kol4 .inside { padding-left: 20px; padding-right: 10px}

.menu-minipanels .view-megadd-news .views-field-field-lead-image {
	float: left; 
	height: 60px; 
	margin-right: 10px; 
} 

.menu-minipanels .view-megadd-news .views-field-title, 
.menu-minipanels .view-megadd-news .views-field-created {
	margin-left: 90px
}

.menu-minipanels .view-megadd-news .views-row {
	clear: both;
	min-height: 60px;
	margin-bottom: 10px;
}

.node-type-contentpage .field-slideshow-slide { width: 690px;}


.right-links-block {

	color:#333333;

}
.page-odherred-forside #search-block-form input[type="text"] {
	width: 481px !important; 
	}

#views_slideshow_cycle_main_aktuelt-panel_pane_3 .views-field-title .text-container{
  font-size: 50px;
}
.gaatilforside {
	position: absolute;
	width: 486px !important;
	display: block;
}
.megamini .panel-panel .inside .pane-content h2.pane-title { 
	font-size: 12px; 
	width: 131px;
	}

.vegas-loading {
	/* Loading Gif by http://preloaders.net/ */
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	background: none;
	height:32px;
	left:20px;
	position:fixed;
	top:20px;
	width:32px; 
	z-index:0;
	display: none;
}

.vegas-overlay {
}

.vegas-background {
	-ms-interpolation-mode: bicubic;
	z-index:-2;
} 

.fedbackogminside { display: inline}

.qtip-cmstheme{ width: 940px !important}
 .pane-quicktabs-nyheder, .page-nyheder .panel-region-lead .relative-container {
	display: block;
    }
