#page { 
  background-image: url(../images/ods-sub-transp-bg.png); 
  background-repeat: repeat-x;}
body {
  background-image: none !important; 
  background-color: #f3f1ee !important;
  color: #272727 !important;
}
.section-header .block-search input[type="submit"] {
  background-image: url(../images/sog.png) !important
}
h6.site-slogan{
  color: #0a5081;
}
.hbg, #region-sidebar-first .block, .page-node .panel-node, #section-footer .region, .not-front #block-system-main {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.node-type-page #block-system-main { background-color: transparent !important}

#region-sidebar-first .block, .page-node .panel-node, .page-search #region-content {
    background-image: none !important;
}
h2, h3, #region-sidebar-first ul.menu li:before{ 
  color: #0a5083 !important;
}

.view-spotbokse .ekstratekst .titel{
  border-top-color: #0a5083 !important;
}

a, a:visited { 
     color: #0a5084 !important; 
     text-decoration: none;
}

#region-sidebar-first ul.menu li a {
    color: #1f1f1f !important;
}
#region-sidebar-first ul.menu li a:hover {
    color: #1F1F13 !important;
}

.view-spotbokse .ekstratekst .titel {
    border-top: 4px solid #0a5083 !important;
}


/* menu */ 

/*#region-sidebar-first ul.menu li {
	background-image: url(blue/arrow-right.png) !important;
	}
	
#region-sidebar-first ul.menu li ul li {
	background-image: url(blue/arrow-dash.png) !important;
	}
	
#region-sidebar-first ul.menu li.expanded {
		background-image: url(blue/arrow-down.png) !important;
	}*/
