.region-user-first-inner h2.block-title,
.block-system-main-menu h2.block-title,
.block-system-navigation h2.block-title { display: none}

.field-name-field-os2web-borger-dk-header { 
	font-size: 14px;
	font-style: italic;}
	
.node-type-os2web-borger-dk-article	.billede { margin-right: 10px; max-width: 50%}
.node-type-os2web-borger-dk-article .billede img {max-width: 100%;}

.borger_dk_header { padding: 10px;}

h2 { font-size: 20px;}
.front #search-block-form { background-image: none !important; padding: 0 !important;}

#search-block-form input[type="text"] {height: 32px !important;
line-height: 32px !important; background-image: none !important; background-color: #FFF; font-size: 14px !important;}
#search-block-form input[type="submit"]{ width: 36px !important}

